body {
  margin: 0;
  line-height: 1.5;
}

.fixed-header, .fixed-footer {
  width: 100%;
  text-align: center;
  position: fixed;
}

.fixed-header {
  top: 0;
  background-color: gray;

}

.fixed-footer {
  bottom: 0;
  background-color: green;
}

div section {
  margin-top: 3%;
  display: inline-block;
}

.left, .right{
  height: 450px;
  text-align: center;

}
.left {
  float: left;
  width: 50%;
  background-color: blue;
}

.right{
  float: right;
  width: 25%;
  background-color: red;
}

.left p, .right p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}